<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailServerUrl" value="https://mail.contoso.com/EWS/Exchange.asmx"/>
    <add key="MailBox" value="viktor@contoso.com"/>
    <add key="User" value="viktor"/>
    <add key="Password" value="Pa$$word"/>
    <add key="Domain" value="contoso.com"/>

    <!-- Destination root folder to save files in UNC format -->
    <add key="FolderRoot" value="\\fileserver.contoso.com\d$\tmp\vrf\"/>
    
    <!-- How much emails retrieve to proccess -->
    <add key="ItemsProccesing" value="50" />
    
    <!--Delay in miliseconds between scan Inbox-->
    <add key="ScanDelay" value="15000" />
    
    <!-- false - folder format \YYYY\MMYY\DDMMYYYY -->
    <!-- true  - folder format \YYYY\MMYY\DDMMYYYY\SenderEmailDomain -->
    <add key="FolderDestinationNameWithDomain" value="true" />
    
    <!-- false - leave original file name -->
    <!-- true  - FileName + ddMMyyyy_HHmmss+FileExtesion -->
    <add key="DestinationFileFormatLong" value="true" />
    
    <add key="ProcessingFileToLog" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>